* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
      font-family: -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
  
  .App {
    text-align: center;
  }
  
  .Nav__Avatar__img {
    height: 30px;
    border-radius: 50%;
  }
  
  .Article__blurb {
    margin: 20px;
    padding: 0px;
    list-style: none;
  }
  
  .Users__header,
  .Users__list,
  .Users_card {
    padding: 10px;
    margin: 20px;
  }
  
  .Users_card {
    list-style: none;
  }
  .container {
    width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    background: #46b5d1;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: white;
    color: #0dd9fd;
  }
  .article__list {
    padding: 0;
  }
  
  .order__sort__form {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  Form {
    padding: 15px;
  }
  
  .post__button {
    margin: 10px;
  }
  
  .post__label {
    margin: 20px;
  }
  
  .Full__article__container {
    margin-top: 30px;
  }
  
  .button__group {
    width: 33%;
  }
  
  .Comment__list__container {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .Comment__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .Comment__item {
    margin: 20px;
    padding: 0px;
    list-style: none;
    /* display: inline-block; */
    margin-left: -1em;
  }
  
  .dropdown button {
    display: block;
    width: 100%;
    /* background-color: red; */
  }
  
  @media screen and (min-width: 800px) {
    .Article__blurb {
      width: 760px;
      padding: 0px;
      list-style: none;
    }
    .article__list {
      display: inline-block;
    }
  
    .article__container {
      text-align: center;
    }
  
    .form__container {
      text-align: center;
    }
  
    .order__sort__form {
      width: 760px;
      display: inline-block;
    }
  
    .post__article {
      width: 760px;
      display: inline-block;
    }
  
    .Full__article__container {
      text-align: center;
    }
  
    .Full__article__body {
      width: 760px;
      display: inline-block;
    }
  
    .Users__list {
      width: 760px;
      display: inline-block;
    }
  }
  .card_sort {
      text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0px;
        width: 700px;
        display: grid;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-between;
    text-align: left;
  }
  
  .card {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-bottom: 0px;
    width: 700px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#a2f9ff, #00c3ff);
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card_title {
    grid-row: 2/4;
    grid-column: 1/2;
    font-weight: 500;
    color: #ffffff;
  }
  
  .card_topic {
    grid-column: 1/2;
    grid-row: 1/4;
    font-weight: 500;
    color: #ffffff;
  }
  
  .card_date {
    grid-column: 2/2;
    grid-row: 4/4;
    text-align: right;
    color: black;
  }
  
  .card_votes {
    grid-column: 1/2;
    grid-row: 4/4;
    color: black;
  }
  
  .topic_header {
      margin: 10px 0px;
      color: #888888;
      font-size: 25px;
      transition: all 0.5s;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      width: 700px;
  }
  
  .article_box {
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      justify-content: space-between;
      text-align: left;
      width: 700px;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      padding: 0px;
      padding-bottom: 0px;
  }
  
  .article_box2 {
    display: grid;
    grid-template-columns: 350px 350px;
    padding: 5px 15px 15px 10px;
  }
  .article_author {
    text-align: left;
  }
  
  .article_date {
    text-align: right;
    margin-right: 10px;
  }
  
  .article_interactions {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 350px 350px;
  }
  
  .article_votes{
    text-align: left;
  }
  
  .article_comments {
    text-align: right;
  }
  
  .votes {
    display: grid;
    width: 80px;
    grid-template-columns: 55px 25px;
  }
  
  .vote_button {
    margin-right: 3px;
    border-style: none;
    background-color: orange;
    border-radius: 5px;
  }
  
  .vote_count {
    border-style: solid rgb(41, 41, 41);
    border-width: 0.5px;
    border-radius: 5px;
    text-align: center;
    background: #d8d9da;
  
  }
  
  .card:link {
    text-decoration: black;
  }
  
  
  .card:visited {
    text-decoration: black;
  }
  
  
  .card:hover {
    text-decoration: none;
  }
  
  
  .card:active {
    text-decoration: none;
  }